body{
	background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.6)),
			url("Assets/Background.jfif");
	background-size: cover;
}


.container1{
	display: flex;
	
}

.minus{
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 50px;	
	width: 70px;	
	background-color: #FEE715;
}

.minus_plus{
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.plus{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	font-size: 50px;
	width: 70px;
	background-color: #FEE715;
}

#d_book1, #d_book2, #d_book3{
	display: inline-block;	
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-left: 64px;
	margin-right: 64px;
	background-color: black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: auto;
}

#d_book1_b, #d_book2_b, #d_book3_b{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#book1_name, #book2_name, #book3_name{
	font-size: 25px;
	color: black;
	background-color: white;
}

#book1_price, #book2_price, #book3_price{
	color: white;
}

#sub_heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

#books{
	display: inline-block;
	padding: 25px;
	margin-left: 50px;
	font-size: 45px;
	color: black;
	background-color: white;
}

#b_add_to_cart{
	display: inline-block;
	margin-left: auto;
	margin-right: 60px;
	font-size: 30px;
	color: white;
	background-color: orange;
	padding: 25px;
	border-radius: 10px;
}

#total{
	display: inline-block;
	color: white;
}

#total_value{
	display: inline-block;	
	color: #39FF14;
}

#d_total{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

h1{
	display: grid;
	place-items: center;
	font-size: 80px;
	background-color: dark blue;
	color: white;
	height: 150px;
	padding-top: 64px;
}

caption{
	font-size: 50px;
	font-weight: bold;
	color: white;
	background-color:  #101820;
}

table{
	background-color: white;
	text-align: center;
	margin: 100px;
	color: black;
	border-collapse: collapse;
	
}

table caption{
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 25px;
}

thead td{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

td{
	border: 2px solid black;
	width: 300px;
	font-size: 30px;
	padding: 30px;
}




